@model IEnumerable<MODELS.Brand>

@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}

<h4>List of Brands</h4><hr />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th><a asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++sl)</td>
            <td class="px-0" width="100">
                <img src="~/images/Brand/@item.Logo" class="img-fluid" alt="Logo" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
