@model MODELS.Product

@{
    ViewData["Title"] = "New Product Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row bg-myColor p-2">
    <div class="col-md-12 text-center">
        <span class=" h3">Create New Product Item <button class="btn btn-sm" id="pageRefresh"><i class="fa fa-refresh text-info"></i></button> </span><hr />
    </div>
</div>
<div class="row pb-3 bg-myColor">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Products" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label asp-for="ProductName" class="control-label col-form-label col-md-3 text-md-right"></label>
                                <div class="col-md-9">
                                    <input asp-for="ProductName" class="form-control" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="input-group row mb-3">   
                                <label asp-for="Image" class="control-label col-form-label col-md-3 text-md-right"></label>
                                <div class="custom-file col-md-9 ml-md-4 row">
                                    <input asp-for="Image" type="file" class="custom-file-input" accept="image/png, image/jpg, image/jpeg">
                                    <label class="custom-file-label" for="Image">Choose file</label>
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="BarCode" class="control-label col-form-label col-md-3 text-md-right"></label>
                                <div class="col-md-9">
                                    <input asp-for="BarCode" class="form-control" />
                                    <span asp-validation-for="BarCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Description" class="control-label col-form-label col-md-3 text-md-right"></label>
                                <div class="col-md-9">
                                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ProductTypeId" class="control-label col-form-label col-md-3 text-md-right"></label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select asp-for="ProductTypeId" class="form-control" asp-items="@ViewBag.ProductTypeId">
                                            <option>Select</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-info btn-sm" type="button" data-target="#productTypeModal" data-toggle="modal"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img src="~/images/product/noimage.png" alt="Alternate Text"  class="" />                            
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label asp-for="CategoryId" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId">
                                    <option>-Select-</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-info btn-sm" type="button" data-target="#catagoryModal" data-toggle="modal"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <label asp-for="BrandId" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select asp-for="BrandId" class="form-control" asp-items="@ViewBag.BrandId">
                                    <option>-Select-</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-info btn-sm" type="button" data-target="#brandModal" data-toggle="modal"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="UnitOfMeasureId" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select class="form-control" asp-for="UnitOfMeasureId" asp-items="@ViewBag.UnitOfMeasureId">
                                    <option>-Select-</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-info btn-sm" type="button" data-target="#unitOfMeasureIdModal" data-toggle="modal"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                        </div>
                        <label asp-for="UnitSellingPrice" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input asp-for="UnitSellingPrice" class="form-control" />
                            </div>
                            <span asp-validation-for="UnitSellingPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProductColorId" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select asp-for="ProductColorId" class="form-control">
                                    <option>Select</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-info btn-sm" type="button" data-target="#productColorModal" data-toggle="modal"><i class="fa fa-plus"></i> </button>
                                </div>
                            </div>

                            <span asp-validation-for="ProductColorId" class="text-danger"></span>
                        </div>
                        <label asp-for="ProductSizeId" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <select asp-for="ProductSizeId" class="form-control">
                                    <option>Select</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-info btn-sm" type="button" data-target="#productSizeModal" data-toggle="modal"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <span asp-validation-for="ProductSizeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ManufacturingDate" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <input asp-for="ManufacturingDate" class="form-control" />
                            <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
                        </div>
                        <label asp-for="ExpiryDate" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <input asp-for="ExpiryDate" class="form-control" />
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Qty" class="control-label col-form-label col-md-2 text-md-right">Existing Qty</label>
                        <div class="col-md-4">
                            <input asp-for="Qty" class="form-control" />
                            <span asp-validation-for="Qty" class="text-danger"></span>
                        </div>
                        <label asp-for="AlertQty" class="control-label col-form-label col-md-2 text-md-right"></label>
                        <div class="col-md-4">
                            <input asp-for="AlertQty" class="form-control" />
                            <span asp-validation-for="AlertQty" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="form-group for form-check">
                <div class="col-md-10 offset-md-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4 offset-md-4 text-md-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-warning" asp-action="Index">Back to List</a>
                    <button class="btn btn-danger">Cancel</button>

                </div>
            </div>
        </form>
    </div>
    
</div>

@*Code for Modal*@ 
<div class="row text-dark">
    <!-- Button trigger modal -->
    

    <!-- Modal for Category-->
    <div class="modal fade" id="catagoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="CategoryCreateForm" method="post" enctype="multipart/form-data">
                        @await Component.InvokeAsync("Categories");
                    </form>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
            </div>
        </div>
    </div>

    @*Modal for Brand*@
    <div class="modal fade" id="brandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <form id="BrandCreateForm"  method="post" enctype="multipart/form-data">
                        @await Component.InvokeAsync("Brands");
                    </form>                  
                </div>
                <div class="modal-footer text-danger" id="BrandFooter" style="display:none">
                    
                </div>
            </div>
        </div>
    </div>

    @*Modal for Color*@
    <div class="modal fade" id="productColorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new color</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal for Size*@
    <div class="modal fade" id="productSizeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add new product size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal for Type*@
    <div class="modal fade text-dark" id="productTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Product Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="ProductTypeCreateForm" method="post">
                        @await Component.InvokeAsync("ProductTypes");
                    </form>
                </div>
                <div class="modal-footer" style="display:none">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#pageRefresh').click(function () {
                location.reload();
            });
            $('#ProductTypeCreateForm').submit(function (e) {
                e.preventDefault();
                var fdata = new FormData(this);
                var url = "/ProductTypes/CreateByJson";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: fdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('.modal').modal().hide();
                    },
                    error: function (err) {

                    }
                });
            });

            $('#BrandCreateForm').submit(function (e) {
                e.preventDefault();
                var fdata = new FormData(this);
                var url = "/Brands/CreateByJson";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: fdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(this).hide();
                    },
                    error: function (err) {

                    }
                });
            });


            $('#CategoryCreateForm').submit(function (e) {
                e.preventDefault();
                var fdata = new FormData(this);
                var url = "/Categories/CreateByJson";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: fdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(this).hide();
                    },
                    error: function (err) {

                    }
                });
            });

            $('#ColorCreateForm').submit(function (e) {
                e.preventDefault();
                var fdata = new FormData(this);
                var url = "/Categories/CreateByJson";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: fdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(this).hide();
                    },
                    error: function (err) {

                    }
                });
            });

            $('#SizeCreateForm').submit(function (e) {
                e.preventDefault();
                var fdata = new FormData(this);
                var url = "/Categories/CreateByJson";

                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: fdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $(this).hide();
                    },
                    error: function (err) {

                    }
                });
            });
        });
        
    </script>
}
